<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="https://cdn.pixabay.com/photo/2022/12/31/14/32/cat-7688749_1280.jpg?auto=format&w=100"
            style="width:100%; height: 100%">
    </div>

    <div class="mySlides fade">
        <img src="https://w0.peakpx.com/wallpaper/502/1001/HD-wallpaper-best-friends-cow-pig-tractor-hens-poultry-artwork-painting-stable-dog.jpg?auto=format&w=100"
            style="width:100%; height: 100%">
    </div>

    <div class="mySlides fade">
        <img src="https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80?auto=format&w=100"
            style="width:100%; height: 100%">
    </div>


    <!-- Navigasyon Dugmeleri -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>


<div class="surface-ground px-2 py-4 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">AnimalsCouple</div>

    <div class="text-700 text-xl mb-6 text-center line-height-3">La seguridad nuestra y de nuestros animalitos esta a un solo click con AnimalsCouple</div>

    <style>
        .h {
            transition: all 0.3s ease-out;
        }


        .h:hover {
            transform: scale(1.05);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            background-color: #D3D3D3;
        }
    </style>
    <div class="grid">

        <div class="col-12 lg:col-4 ">
            <div class="p-3 h-full ">
                <div class="shadow-2 p-3 h-full flex flex-column  h shadow-2 p-3 border-round"
                    style="border-radius: 6px">
                    <span class="block text-500 font-medium mb-3">Misión</span>
                    La misión de nuestro sistema es poder facilitar a nuestros usuarios la búsqueda de especímenes
                    para un acoyuntamiento seguro,
                    y darles una mayor fiabilidad al momento de encontrar una pareja idónea para su animal.

                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column  h shadow-2 p-3 border-round"
                    style="border-radius: 6px">
                    <span class="block text-500 font-medium mb-3">Visión</span>
                    Nuestra visión es poder crecer para que nuestro sistema llegue a más lugares del país y del
                    mundo
                    y así ser un sistema que genere confiabilidad y seguridad a nuestros usuarios.


                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column h shadow-2 p-3 border-round"
                    style="border-radius: 6px">
                    <span class="block text-500 font-medium mb-3">Nosotros</span>
                    Somos un grupo de estudiantes del Instituto Superior Tecnológico del Azuay que a desarrollado un
                    sistema que se encarga de facilitarte la búsqueda de un espécimen para tu mascota u animal que
                    tengas con la seguridad de encontrar rápido y fácilmente. Nos encargamos de darte un catálogo en
                    nuestra página para que busques y encuentre el animal idóneo para ti. Sin Mucho esfuerzo y Con
                    una gran Variedad.

                </div>
            </div>
        </div>


    </div>
    
<div class=" px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-users"></i>&nbsp;POWERED BY M5B</div>
        <div class="text-900 font-bold text-5xl mb-3">Sistema web AnimalsCouple</div>
        <div class="text-700 text-2xl mb-5">Conoce al grupo de desarrolladores del sistema web AnimalsCouple</div>
        <button pButton pRipple label="Conocenos" icon="pi pi-users" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" (click)="developers()"></button>
    </div>
</div>

</div>


