
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header .profile img {
  margin: 4px auto;
  display: block;
  width: 130px;
  height: 130px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}


