<div class="overlay" *ngIf="isLoadingData">
    <div class="cs-loader">
        <div class="cs-loader-inner">
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
            <label>●</label>
        </div>
    </div>

</div>

<div *ngIf="!isLoadingData">

    <div class="container1">
        <div class="card" *ngFor="let animal of listALLAnimals">
            <figure class="card__thumb">
                <img [src]="animal.foto ? 'data:image/jpeg;base64,' + animal.foto : '../../../../assets/img/fotonull.png'"
                    alt="Picture by Kyle Cottrell" class="card__image" height="300px" width="299px"
                    style="border-radius: 7px;">
                <figcaption class="card__caption">
                    <h2 class="card__title">Animalito {{animal.nombre}} <br>{{animal.raAnimal.razaAnimal.nombretipo}} -
                        {{animal.raAnimal.nombreraza}}</h2>
                    <p class="card__snippet">El animalito {{animal.nombre}}, con género {{animal.genero}} es de color
                        {{animal.color}} y tiene {{animal.edad}} Años.</p>
                    <a (click)="irPerfilAnimalProfile(animal.id_animal)" class="card__button">Ver perfil</a>
                </figcaption>
            </figure>
        </div>
    </div>

</div>