<!-- <img src="https://i.pinimg.com/originals/77/14/bc/7714bc0994ba893662fe318a8ab8d7c9.jpg" alt=""> -->
<!-- <div class="fondo">
  <div class="contenido"> -->

    <section class="ml-2 mx-2 mb-5">

      <h2 align="center" style="font-family: 'Times New Roman', Times, serif;" class="mt-5">Desarrolladores de Animals
        Couple</h2>
      <div id="equipo">
        <br>
        <div class="caja-circular">
          <div class="cont-3">
            <img src="../../assets/img/developers/maestro.png" />
          </div><!-- .cont-3 -->
          <div class="txt-pie-img">
            <h5 style="font-family: 'Times New Roman', Times, serif;">JONNATHAN GALLEGOS</h5>
          </div><!-- .txt-pie-img -->
        </div><!-- .caja-circular -->

        <div class="caja-circular">
          <div class="cont-3">
            <img src="../../assets/img/developers/quinde.png" />
          </div><!-- .cont-3 -->
          <div class="txt-pie-img">
            <h5 style="font-family: 'Times New Roman', Times, serif;">EDISSON QUINDE</h5>
          </div><!-- .txt-pie-img -->
        </div><!-- .caja-circular -->

        <div class="caja-circular">
          <div class="cont-3">
            <img src="../../assets/img/developers/zhunio.png" />
          </div><!-- .cont-3 -->
          <div class="txt-pie-img">
            <h5 style="font-family: 'Times New Roman', Times, serif;">BRYAN <br> ZHUNIO</h5>
          </div><!-- .txt-pie-img -->
        </div><!-- .caja-circular -->

        <div class="caja-circular">
          <div class="cont-3">
            <img src="../../assets/img/developers/mariela.png" />
          </div><!-- .cont-3 -->
          <div class="txt-pie-img">
            <h5 style="font-family: 'Times New Roman', Times, serif;">MARIELA <br> LEON</h5>
          </div><!-- .txt-pie-img -->
        </div><!-- .caja-circular -->


        <div class="caja-circular">
          <div class="cont-3">
            <img src="../../assets/img/developers/jon.png" />
          </div><!-- .cont-3 -->
          <div class="txt-pie-img">
            <h5 style="font-family: 'Times New Roman', Times, serif;">JOHN <br> MOYANO</h5>
          </div><!-- .txt-pie-img -->
        </div><!-- .caja-circular -->

        <div class="caja-circular">
          <div class="cont-3">
            <img src="../../assets/img/developers/pochis.png" />
          </div><!-- .cont-3 -->
          <div class="txt-pie-img">
            <h5 style="font-family: 'Times New Roman', Times, serif;">PAUL BARREZUETA</h5>
          </div><!-- .txt-pie-img -->
        </div><!-- .caja-circular -->


      </div>
    </section>
  <!-- </div>
</div> -->