.button-container {
  display: flex;
  justify-content: space-between;
}


.product-badge {
  display: inline-block;
  /* Asegura que el elemento tenga ancho y altura */
  padding: 0.5em;
  /* Agrega espacio entre el contenido y el borde */
  background: linear-gradient(to right, #ffcc00, #ff6600);
  /* Crea un degradado de color de fondo */
  border-radius: 5px;
  /* Da a la caja esquinas redondeadas */
  color: white;
  /* Establece el color del texto a blanco */
  font-weight: bold;
  /* Hace que el texto sea m치s grueso */
}


/* Nuevo codgo para el dise침o de la carga */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.cs-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.cs-loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}


.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    transform: translateX(0px);
  }

  66% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}


/* Implementaci칩n de otra parte de los colores para los dise침os de las partes visuales */
body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2 {
  font-size: 2em;
  margin-top: 1em;

}

th {
  font-size: 1.1em;
}

tr {
  font-weight: 600;
}



tr:hover {
  background-color: rgb(245, 245, 245);
}

#bntRegistrar:hover {
  background-color: rgb(21, 125, 60);
}