
<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contacto</h3>
                    <div class="widget-body">
                        <p>+593 990093849<br>
                            <a href="mailto:#">soporteanimalscouple@gmail.com</a><br>
                            <br>
                        </p>	
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Siganos en</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons clearfix">
                            <a href="https://instagram.com/tecdelazuay?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                           <!--  <a href="" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
                            <a href="https://github.com/Jonnathan1288" target="_blank"><i class="fa-brands fa-github"></i></a> -->
                            <a href="https://www.facebook.com/TecAzuay" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        </p>	
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Más información</h3>
                    <div class="widget-body">
                        <a href="https://goo.gl/maps/miQVwCje8QfLiFZJ7">Dirección</a>
                        <p>Octavio Chacon Moscoso - Calle Pirmavera</p>
                        <p>Sector Parque Industrial</p>
                        <p>TecAzuay</p>
                        
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Home</a> | 
                            <a [routerLink]="['/record']">Clients</a> |
                            <a href="sidebar-right.html">Products</a> |
                            <a href="contact.html">Task</a> |
                            <b><a href="signup.html">Sign up</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; Jonnathan Gallegos 2023
                        </p>
                    </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>
</footer>	