main {
  max-width: 350px;
  min-width: 320px;
  box-shadow: 11px 11px 16px rgb(0 0 0 / 30%);
  transition: 0.6s;
  position: fixed;
  background-color: white;
  z-index: 9999;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f98cd;
  border-radius: 5px 5px 0px 0px;
  padding: 15px;
  position: relative;
}

main header .icon {
  display: flex;
  cursor: pointer;
}

main header .icon .lines .line {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: #b2daff;
  transition: 0.3s;
}

main header .icon .lines .top {
  width: 21px;
  margin-bottom: 9px;
}

main header .icon .circle {
  background-color: #b2daff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: -1.5px -6px 0px;
  transition: 0.3s;
}

main header .icon:hover .lines .line,
main header .icon:hover .circle {
  background-color: #fff;
}

main header h2 {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}


main .content {
  width: 350px;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 4px 6px 4px 6px;
  position: relative;
}

main .content .box {
  transition: 0.2s;
  color: #5f98cd;
}

main .content .box:hover {
  color: #003668;
  cursor: pointer;
}

main .content .box .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid #5f98cd;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  left: 11px;
  box-shadow: 0 0 0 3px #fff;
}

main .content .box .info time {
  display: block;
  font-size: 11px;
  margin-bottom: 3px;
}



.btn {
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-secondary,
.btn.btn-outline-secondary:hover {
  color: #FFFFFF;
}

.btn.btn-primary:hover {
  background: var(--secondary);
  border-color: var(--secondary);
}

.btn.btn-secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}



/* Implementacin de las nuevas notificasiones */

.solicitud-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.15);
}

.solicitud-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dddfe2;
}

.solicitud-header img {
  border-radius: 50%;
  margin-right: 10px;
}

.solicitud-header-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.solicitud-header-time {
  font-size: 12px;
  margin: 0;
  color: #65676b;
}

.solicitud-content {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dddfe2;
}

.solicitud-info {
  margin-left: 20px;
  flex: 1;
}

.solicitud-info h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.solicitud-info p {
  font-size: 16px;
  margin-bottom: 5px;
}

.solicitud-info .fecha {
  font-size: 14px;
  color: #8c8c8c;
}

/* Button center */
.solicitud-footer {
  display: flex;
  justify-content: center;
}

.solicitud-footer button {
  margin-right: 10px;
}


/* Para la info mas relevante */
.solicitud-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.image-wrapper {
  margin-right: 10px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}


.tipo-pago {
  font-size: 16px;
}


